<div class="content-body" style="background-color:#d1ecf1">
	<div class="alert alert-default" role="alert">
	  <h4 class="alert-heading">Notice!</h4>
	  <p>You dnt have any chat room yet. Please create a new chat room to make a connection with others</p>
	  <hr>
	  <p class="mb-0">You can also contact to support for more guidense.</p>
	</div>
</div>