<li class="li-style">
  <a  class="media border-0 active">
    <div class="media-body w-100">
      <h6 class="list-group-item-heading">No Chat(s) Found<!--  <small class="text-muted font-small-3 float-right primary"> </small> --></h6>
    </div>
  </a>
</li>